body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Sicherstellen, dass der Body die volle Höhe des Viewports hat */
}

#container {
    width: 100vw;
    height: calc(100vh - 60px); /* Höhe des Containers anpassen */
    position: relative; /* Relativ positioniert, damit absolute Positionierung in den Kindern funktioniert */
}

#controls {
    width: 100vw;
    height: 60px; /* Feste Höhe für die Steuerleiste */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    position: absolute; /* Absolut positioniert, um über dem Container zu liegen */
    bottom: 0; /* Am unteren Rand des Containers */
    z-index: 10; /* Höhere Z-Index für Sichtbarkeit */
}

#timeline {
    width: 70%;
    margin-right: 10px;
}

#playPause {
    padding: 5px 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}

#playPause:focus {
    outline: none;
}

#speedControl {
    padding: 5px 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    background-color: #555;
    color: white;
}

#enter-ar {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 20px;
    margin-left: 10px;
}

#enter-ar:focus {
    outline: none;
}

/* Spezifische Anpassungen für Tablets */
@media (max-width: 768px) {
    #container {
        height: calc(100vh - 80px); /* Etwas mehr Platz für die Steuerleiste */
    }

    #controls {
        height: 80px; /* Etwas höhere Steuerleiste auf kleineren Bildschirmen */
    }

    #timeline {
        width: 60%;
    }

    #playPause, #speedControl, #enter-ar {
        font-size: 16px; /* Kleinere Schriftgröße für Schaltflächen */
    }
}
