body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#container {
    width: 100vw;
    height: 85vh; /* Vorher 90vh */
}

#controls {
    width: 100vw;
    height: 15vh; /* Vorher 10vh */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    position: relative; /* Position fixieren */
    bottom: 0; /* Am unteren Rand des Containers */
}

#timeline {
    width: 70%;
    margin-right: 10px;
}

#playPause {
    padding: 5px 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}

#playPause:focus {
    outline: none;
}

#speedControl {
    padding: 5px 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    background-color: #555;
    color: white;
}

#enter-ar {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 20px;
    margin-left: 10px;
}

#enter-ar:focus {
    outline: none;
}
